body {
	background: #fdfdfd;
	margin-top: 40px;
}

table td,	
table {
	background: transparent;
}

/*********** Header Logo ***********/

table tr td table tr td {
	width: auto;
	position: relative;
}

table tr td table tr {
	height: auto !important;
}

img {	
	display: none;
}

.comhead {
	display: block;
}

.pagetop {
	color: #aaa;
	display: block;
	padding-left: 12px;
	padding-bottom: 10px;
}

.pagetop a {
	padding: 4px;
	color: #424242;
}

.pagetop b {
	display: none;
}

.pagetop b a,
.pagetop b a:visited {
	color: #424242;
	padding: 0;
}

.topsel a:link, 
.topsel a:visited {
	color: #222;
}


/*********** Points, Comments & Time **************/

td.title .meta {
	margin: 0;
	width: 180px;
	list-style: none;
	position: absolute;
	text-align: center;
	top: 0;
	right: 0;
	background-image: -webkit-gradient(linear, 25% 0%, 0% 0%, from(#FDFDFD), to(rgba(253, 253, 253, 0)));
}

td.title .meta li {
	padding-top: 30px;
	height: 50px;
	width: 50px;
	display: inline;
	float: left;
	font-size: 11px;
	opacity: 0.4;
	-webkit-transition: all 0.2s ease-in;
}

td.title .meta li a {
	color: #333;
	font-size: 11px;
}

tr:last-child td.title .meta {
	display: none;
}

td.title .meta li.comments {
	background: url('chrome-extension://__MSG_@@extension_id__/images/comments.png') no-repeat center 10px;
}

td.title .meta li.points {
	background: url('chrome-extension://__MSG_@@extension_id__/images/up.png') no-repeat center 10px;
}

td.title .meta li.time {
	width: 80px;
	background: url('chrome-extension://__MSG_@@extension_id__/images/time.png') no-repeat center 10px;
}

/*********** Header Bar **************/

center > table > tbody > tr:first-child > td:first-child > table {
	background-image: -webkit-gradient( linear, left bottom, left top, color-stop(0.3, rgba(253, 253, 253, 0)), color-stop(0.6, #FDFDFD) );
	position: fixed;
	z-index: 1;
	top: 0;
	left: 7.5%;
	padding: 2px 2px 30px 2px !important;
	width: 85%;
}


/*********** Filters *****************/

.current-filters {
	position: absolute;
	list-style: none;
	right: 0;
}

.current-filters li a {
	display: block;
	padding: 2px;
	background: #fff;
}


/*********** News Listings ***********/

table tr:nth-child(3) td table {
	width: 90%;
}

td.title {
	padding: 10px 2px;
}

td.title:first-child {
	line-height: 1.2;
	font-size: 20px;
	position: relative;
	left: 0;
	color: #666;
	opacity: 0.6;
}

td tr td center a {
	opacity: 0.1;
	position: absolute;
	left: -20px;
	top: 38px;
	display: block;
	
	width: 0;
	height: 0;
	border-left: 8px solid transparent;
	border-right: 8px solid transparent;
	border-bottom: 8px solid #424242;
	
	-webkit-transition: all 0.2s ease-in;
}

td tr:hover td center a {
	opacity: 1;
}

td tr:hover td.title .meta li {
	opacity: 0.9;
}

td.title a {
	font-size: 20px;
	letter-spacing: -1px;
	color: #3299BB;
	text-shadow: 0 1px 0 #fff;
}

td.title a:visited {
	color: #9AD2E4;
}

td.subtext {
	display: none;
}


/*********** Story Page ***************/

form textarea {
	width: 100%;
	margin: 0 0 -10px 0;
}


/*********** Profile Bubble ***********/

#profile-bubble {
	display: none;
	background: #fff;
	border-radius: 4px;
	border: 1px solid #ccc;
	padding: 10px;
	box-shadow: 0 2px 10px rgba(0,0,0,0.1);
	z-index: 100;
}

#profile-bubble ul {
	padding: 0;
	margin: 0;
	list-style: none;
}

#profile-bubble ul li span.username {
	float: right;
}
